 .u-section-1 {
  background-image: url("images/a.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 254px 587px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 566px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 193px;
    margin-right: 470px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 549px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 197px;
    margin-right: 360px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 329px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    padding: 10px 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 170px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-right: 270px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 11px;
    padding-right: 38px;
    padding-left: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 106px;
    margin-right: 151px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 8px;
    margin-right: 151px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    padding: 6px 8px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 211px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1168px;
  margin: 25px -27px 35px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 151px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1.5;
  --animation-custom_in-translate_y: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 52px auto 0 39px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -59px -20px 0 79px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 27px 0 125px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.52;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 52px auto 0 39px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -59px -20px 0 79px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 27px 0 125px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.48;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 52px auto 0 39px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -59px -20px 0 79px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 27px 0 125px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-2 .u-list-1 {
    width: 928px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 122px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 3px;
  }

  .u-section-2 .u-icon-1 {
    height: 69px;
    width: 69px;
    margin-top: 37px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -61px;
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 3px;
  }

  .u-section-2 .u-icon-2 {
    height: 69px;
    width: 69px;
    margin-top: 37px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -61px;
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 3px;
  }

  .u-section-2 .u-icon-3 {
    height: 69px;
    width: 69px;
    margin-top: 37px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -61px;
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 13px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-bottom: -41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 154px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 25px;
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 134px;
  }

  .u-section-2 .u-icon-1 {
    height: 58px;
    width: 58px;
    margin-top: 9px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 11px;
  }

  .u-section-2 .u-icon-2 {
    height: 58px;
    width: 58px;
    margin-top: 9px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    margin-right: 11px;
  }

  .u-section-2 .u-icon-3 {
    height: 58px;
    width: 58px;
    margin-top: 9px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.75rem;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-2 .u-list-1 {
    width: 288px;
    margin: 13px auto 12px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px 0px;
    min-height: 237px;
  }

  .u-section-2 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-top: 14px;
    margin-right: 216px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -45px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
    margin-left: 42px;
  }

  .u-section-2 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 14px;
    margin-right: 216px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -45px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
    margin-left: 42px;
  }

  .u-section-2 .u-icon-3 {
    height: 53px;
    width: 53px;
    margin-top: 14px;
    margin-right: 216px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -45px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 10px;
    margin-left: 42px;
  }
} .u-section-3 {
  background-image: url("images/Untitled22.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 830px;
}

.u-section-3 .u-group-elements-1 {
  width: 608px;
  min-height: 303px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 18deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 158px 34px 60px auto;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-line-1 {
  width: 331px;
  transform-origin: left center 0px;
  border-style: double;
  height: 3px;
  margin: 0 120px 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.4;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 22px 22px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 133px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-size: auto 130%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 506px;
    min-height: 337px;
    margin-top: 65px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 63.31% 29.6%;
    background-size: 130%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 390px;
    min-height: 162px;
    margin-top: 127px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 100% 0%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 275px;
    min-height: 116px;
    margin-top: 61px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -5px;
  }

  .u-section-3 .u-line-1 {
    width: 139px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 11px;
    margin-left: 26px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1192px;
}

.u-section-4 .u-shape-1 {
  height: 370px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -299px auto 0;
}

.u-section-4 .u-image-1 {
  min-height: 371px;
  background-image: url("images/cloudnames-grafik-tasarimci.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 98px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 376px;
  background-image: url("images/embroidery-machine-close-up-embroidery-machine-close-up-embroidery-field-98868355.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 368px;
  background-image: url("images/istockphoto-1359597432-612x6121.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 368px;
  background-image: url("images/RM-personalizeddelivery8.7.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 68px calc(((100% - 1140px) / 2) + 238px) 0 calc(((100% - 1140px) / 2) + 259px);
}

.u-section-4 .u-line-1 {
  width: 180px;
  transform-origin: left center 0px;
  border-style: double;
  margin: 7px calc(((100% - 1140px) / 2) + 461px) 0 auto;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1083px;
  margin: 31px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 298px;
}

.u-section-4 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 12px 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 33px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 7px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0 20px;
}

.u-section-4 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 12px 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 33px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 0 20px;
}

.u-section-4 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 12px 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 33px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 0 20px;
}

.u-section-4 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-12 {
  padding: 30px 12px 0;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 33px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 0 20px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #f1c50e, #db545a);
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  text-transform: uppercase;
  margin: 31px calc(((100% - 1140px) / 2) + 434px) 60px auto;
  padding: 16px 69px 18px 68px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1109px;
  }

  .u-section-4 .u-shape-1 {
    height: 374px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 306px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 81px;
  }

  .u-section-4 .u-image-2 {
    min-height: 310px;
  }

  .u-section-4 .u-image-3 {
    min-height: 303px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-4 .u-image-4 {
    min-height: 303px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 159px);
    margin-right: calc(((100% - 940px) / 2) + 138px);
    width: 643px;
  }

  .u-section-4 .u-line-1 {
    margin-right: calc(((100% - 940px) / 2) + 363px);
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 259px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 336px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1017px;
  }

  .u-section-4 .u-shape-1 {
    height: 307px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 775px;
    margin-top: -176px;
  }

  .u-section-4 .u-image-1 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 124px;
  }

  .u-section-4 .u-image-2 {
    min-height: 270px;
  }

  .u-section-4 .u-image-3 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-4 .u-image-4 {
    min-height: 270px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: calc(((100% - 720px) / 2) + 19px);
    margin-left: calc(((100% - 720px) / 2) + 58px);
  }

  .u-section-4 .u-line-1 {
    margin-top: 12px;
    margin-right: calc(((100% - 720px) / 2) + 251px);
  }

  .u-section-4 .u-list-1 {
    width: 739px;
    margin-top: 51px;
    margin-right: calc(((100% - 720px) / 2) + -19px);
  }

  .u-section-4 .u-repeater-1 {
    min-height: 230px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 22px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 22px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 22px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 22px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 51px;
    margin-right: calc(((100% - 720px) / 2) + 224px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 780px;
  }

  .u-section-4 .u-shape-1 {
    height: 228px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 546px;
    margin-top: -145px;
  }

  .u-section-4 .u-image-1 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 173px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 185px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 185px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 33px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 4px;
    margin-right: calc(((100% - 540px) / 2) + 168px);
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 181px;
  }

  .u-section-4 .u-icon-1 {
    width: 35px;
    height: 35px;
    margin-top: 12px;
    margin-right: 45px;
    padding: 7px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    margin-top: -1px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-icon-2 {
    width: 35px;
    height: 35px;
    margin-top: 12px;
    margin-right: 45px;
    padding: 7px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.625rem;
    margin-top: -1px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-icon-3 {
    width: 35px;
    height: 35px;
    margin-top: 12px;
    margin-right: 45px;
    padding: 7px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.625rem;
    margin-top: -1px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-icon-4 {
    width: 35px;
    height: 35px;
    margin-top: 12px;
    margin-right: 45px;
    padding: 7px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.625rem;
    margin-top: -1px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 29px;
    margin-right: auto;
    padding: 8px 24px 9px 23px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 859px;
  }

  .u-section-4 .u-shape-1 {
    height: 195px;
    margin-top: -1px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 273px;
  }

  .u-section-4 .u-image-1 {
    min-height: 152px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-4 .u-image-2 {
    min-height: 152px;
  }

  .u-section-4 .u-image-3 {
    min-height: 152px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-4 .u-image-4 {
    min-height: 152px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    margin-right: auto;
  }

  .u-section-4 .u-list-1 {
    width: 320px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 324px;
  }

  .u-section-4 .u-icon-1 {
    width: 34px;
    height: 34px;
    margin-top: 7px;
    margin-right: 58px;
    padding: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.5rem;
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-icon-2 {
    width: 34px;
    height: 34px;
    margin-top: 7px;
    margin-right: 58px;
    padding: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-icon-3 {
    width: 34px;
    height: 34px;
    margin-top: 7px;
    margin-right: 58px;
    padding: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-icon-4 {
    width: 34px;
    height: 34px;
    margin-top: 7px;
    margin-right: 58px;
    padding: 9px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
    margin-bottom: -1393px;
  }
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-1 {
  border-style: solid !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-1 {
  border-style: solid !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-2 {
  border-style: solid !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-2 {
  border-style: solid !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-3 {
  border-style: solid !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-3 {
  border-style: solid !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-4,
.u-section-4 .u-list-item-4:before,
.u-section-4 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-4 {
  border-style: solid !important;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  border-style: solid !important;
  border-bottom-width: 12px !important;
  transform: scale(0.86) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #db545a !important;
}

.u-section-4 .u-list-item-4 {
  border-style: solid !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.95), rgba(41,45,51,0.95)), url("images/rs5994_465129591-low.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 742px;
}

.u-section-5 .u-group-1 {
  min-height: 472px;
  height: auto;
  width: 927px;
  transition-duration: 1.75s;
  margin: 60px 92px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 5px 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 0.8;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 93px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 6rem;
  width: 230px;
  font-family: Audiowide;
  font-weight: 700;
  margin: -23px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -221px 121px 0 142px;
}

.u-section-5 .u-btn-1 {
  background-image: linear-gradient(to right, #f1c50e, #db545a);
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  text-transform: uppercase;
  margin: 29px 317px 60px auto;
  padding: 27px 58px 29px 57px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 13px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    transition-duration: 2s;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 18px;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-5 .u-group-1 {
    background-position: 50% 50%;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-5 .u-group-1 {
    min-height: 297px;
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: -10px;
    margin-right: 32px;
    margin-left: 58px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -63px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 27px;
    margin-bottom: -76px;
    padding-right: 40px;
    padding-bottom: 28px;
    padding-left: 39px;
  }
}

.u-section-5 .u-group-1,
.u-section-5 .u-group-1:before,
.u-section-5 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-group-1.u-group-1.u-group-1:hover:before {
  background-color: #ffffff !important;
}

.u-section-5 .u-container-layout:hover .u-group-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-5 .u-container-layout:hover .u-group-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-5 .u-group-1 {
  opacity: 1 !important;
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before,
.u-section-5 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-3 {
  color: #db545a !important;
}

.u-container-layout.hover .u-section-5 .u-text-3 {
  color: #db545a !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 762px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-family: Audiowide;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 37px auto 0;
}

.u-section-6 .u-line-1 {
  width: 157px;
  transform-origin: right center 0px;
  margin: 7px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 19.3333px) calc(33.3333% - 19.3333px) calc(33.3333% - 19.3333px);
  grid-gap: 29px 29px;
  min-height: 502px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 17px;
}

.u-section-6 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  margin: 27px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 17px;
}

.u-section-6 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  margin: 27px auto 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 17px;
}

.u-section-6 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  margin: 27px auto 0;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 14.5px) calc(50% - 14.5px);
  }

  .u-section-6 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 494px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 265px;
    width: 330px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 265px;
    width: 330px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 7px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 265px;
    width: 330px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 2px;
  }

  .u-section-6 .u-list-1 {
    width: 291px;
    margin-top: 32px;
    margin-bottom: 29px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 217px;
    width: 262px;
    margin-top: 24px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -4px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 217px;
    width: 262px;
    margin-top: 24px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -4px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 217px;
    width: 262px;
    margin-top: 24px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -4px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 652px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-family: "Black Ops One";
  font-weight: 700;
  margin: 60px 112px 0 250px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  width: 578px;
  margin: 39px auto 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 578px;
  margin: 33px auto -101px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 20px;
    margin-left: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 53px;
    margin-right: 84px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-bottom: -106px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 105px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: 540px;
    margin-bottom: -128px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    font-size: 0.75rem;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
    font-size: 0.75rem;
    margin-bottom: -388px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1306px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 76px 84px 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  width: 711px;
  font-weight: normal;
  margin: 14px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 947px;
  grid-gap: 0px 0px;
}

.u-section-8 .u-list-item-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-8 .u-image-1 {
  width: 122px;
  height: 122px;
  background-image: url("images/w.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 1.0625rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-8 .u-list-item-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-8 .u-image-2 {
  width: 122px;
  height: 122px;
  background-image: url("images/ds.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.0625rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-8 .u-list-item-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-8 .u-image-3 {
  width: 122px;
  height: 122px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-size: 1.0625rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-8 .u-list-item-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-8 .u-image-4 {
  width: 122px;
  height: 122px;
  background-image: url("images/vb.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-9 {
  font-size: 1.0625rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-8 .u-list-item-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-8 .u-image-5 {
  width: 122px;
  height: 122px;
  background-image: url("images/bvbb.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  font-size: 1.0625rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-8 .u-list-item-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 25px;
}

.u-section-8 .u-image-6 {
  width: 122px;
  height: 122px;
  background-image: url("images/ghght4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-13 {
  font-size: 1.0625rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-text-14 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 781px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    min-height: 1346px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
    font-weight: 700;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2678px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 90px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: 32px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-9 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-13 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-14 {
    font-size: 1.5rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 534px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 38px auto 0;
}

.u-section-9 .u-form-1 {
  height: 351px;
  margin: 3px 270px 0 300px;
}

.u-section-9 .u-input-1 {
  text-transform: uppercase;
}

.u-section-9 .u-input-2 {
  text-transform: uppercase;
}

.u-section-9 .u-input-3 {
  text-transform: uppercase;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 9px 236px 10px 235px;
}

.u-section-9 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 15px auto 26px;
}

.u-section-9 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-9 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-9 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-9 .u-icon-5 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

@media (max-width: 1199px) {
  .u-section-9 .u-form-1 {
    width: 570px;
    margin-left: 200px;
    margin-right: 170px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-form-1 {
    margin-left: 90px;
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-left: 138px;
  }

  .u-section-9 .u-form-1 {
    width: 540px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 82px;
  }

  .u-section-9 .u-form-1 {
    margin-top: 10px;
    margin-right: -20px;
    width: 320px;
  }

  .u-section-9 .u-btn-1 {
    padding-right: 119px;
    padding-left: 117px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 30px;
    width: 189px;
    margin-top: 8px;
    margin-right: 48px;
  }
}